<div class="footer-container">
  <div class="container footer-container__content">
    <div class="footer-container__content__el main-menu">
      <ul>
        <li class="title">Main Menu</li>
        <li class="main-menu-el coments" [routerLink]="['/comments']" routerLinkActive="footer-active">Comments</li>
        <li class="main-menu-el mange-coments" [routerLink]="['/manage-comments']" routerLinkActive="footer-active">Manage Comments</li>
      </ul>
    </div>
    <div class="footer-container__content__el about-us">
      <ul>
        <li class="title">About Us</li>
        <li>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores tenetur, culpa exercitationem nihil saepe
          dolorem asperiores inventore cum nisi aut veniam, fugiat, quibusdam optio laborum doloribus amet accusantium
          sequi vitae?
        </li>
        <li>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </li>
      </ul>
    </div>
  </div>
</div>