.confirmation-poup-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 500;
  top: 0;
  left: 0;
  background-color: rgba($black, 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  &__content {
    &__info {
      background-color: $red;
      color: $white;
      text-align: center;
      padding: 10px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    &__btns {
      padding: 10px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-radius: 1px solid $light_grey;
      background-color: $mid_grey;
      display: flex;
      justify-content: space-around;
      button {
        @include btn;
        width: 120px;
      }
    }
  }
}